
#left {
	float: left;
}

#wolverine{
	margin-top: 40px;
}

.pint {
	height: 40%;
	width: 40%;
}

.big {
	height: 100%;
	width: 100%;
	margin-top: 40px;
}

#right{
	float: right;
	position: relative;
	top: 650px;
}

#bottom {
	clear:both;
	position: relative;
	top: 800px;
	left: 400px;
}

#bottom img{
	height: 40%;
	width: 40%;
}


#wrapper {
	position: absolute;
	margin-top: 50px;
	margin-left: 300px;
	text-align: center;
	width: 800px;
}

ul{
	padding-top: 40px;
}


li{
	font-size: 18px;
	display: inline;
	padding-right: 20px;
}


h2{
	font-family: 'Bangers', cursive;
	font-size: 24px;
}

.starter{
	text-align: center;
	margin-top: 50px;
}

#startBtn{
	font-family: 'Bangers', cursive;
	font-size: 40px;
	background-color: lawngreen;
	color: purple;
	height: 100px;
	width: 260px;
}

#startBtn:hover {
	font-family: 'Bangers', cursive;
	font-size: 24px;
	background-color: red;
	color: yellow;
}

#instructions{
	margin-top: 50px;
	margin-left: 20px;
	font-size: 40px;
	font-family: 'Bangers', cursive; ;
}

#timer{
	height: 75px;
	width: 75px;
}

#theTimer{
	font-size: 40px;
	position: fixed;
	top: 20px;
	left: 80px;
}

#message{
	position: absolute;
	font-family: 'Bangers', cursive;
	font-size: 30px;
	margin-top: 150px;
	margin-left: 600px;
}